<div class="footer">
	<div class="trademark">
		<div class="container">
			<div class="row trademark_logo">
				<a href="" title="" class="logo_mitsu">
					<img src="https://d33wubrfki0l68.cloudfront.net/7092b5c7956c6f976afd22641619dfc899cb18fa/00463/images/mitsubishi_logo.png" alt="">
				</a>
				<a href="" title="" class="logo_orient">
					<img src="https://d33wubrfki0l68.cloudfront.net/f25e454f189876a1c9718fbaea3db78a093d7bd8/ea1a4/images/orient_logo.png" alt="">
				</a>
				<a href="" title="" class="logo_lg text-right">
					<img src="https://d33wubrfki0l68.cloudfront.net/896179a19e9545d9435ef0776113c02b8715b1c8/b7943/images/lg_logo.png" alt="">
				</a>
				<a href="" title="" class="logo_sanyo text-right">
					<img src="https://d33wubrfki0l68.cloudfront.net/7130107b10257a5782995443dbdd13fa9a8393ab/ea616/images/sanyo_logo.png" alt="">
				</a>
				<a href="" title="" class="logo_carrier text-right">
					<img src="https://d33wubrfki0l68.cloudfront.net/db451fb6a30741a106344f83a2d664bfd1e1a1dd/5b0b0/images/carrier_logo.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="groupShowfooter">
		<div class="container">
			<div class="font-mb">
				COSY AIR CONDITIONERS © 2020
			</div>
		</div>
	</div>
</div>