<div class="banner" ng-controller="menuCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-6">
				<div class="logo">
					<a href="#!/">
						<img src="Images/logo_full.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-md-6 col-6 email-mobile">
				<div class="row logo-email">
					<div class="col-md-8 col-6 text-right">
						<div class="img-email">
							<img src="Images/mail-icon.png" alt="">
						</div>
					</div>
					<div class="col-md-4 col-6 text-email">
						<p>GIVE US YOUR EMAIL</p>
						<p>TEAM4_BKAP@GMAIL.COM</p>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="icon-mobile text-right">
					<i class="fa fa-bars menu-icon" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="menu-nav">
	<div class="container">
		<div class="row">
			<ul class="nav text-uppercase font-menu">
				<li class="nav-item col-md-2 left-boder menu-mb">
					<a class="nav-link" href="#!/">Home</a>
				</li>
				<li class="nav-item col-md-2 menu-mb">
					<a class="nav-link" href="#!About">About</a>
				</li>
				<li class="nav-item col-md-2 sanyo-brand menu-mb">
					<a class="nav-link cusor-brand" href="">Brands</a>
					<ul class="sub-brands menu-mb">
						<li><a href="#!Mitsubishi">Mitsubishi</a></li>
						<li><a href="#!Carrier">Carrier</a></li>
						<li><a href="#!Orient">Orient</a></li>
						<li><a href="#!Sanyo">Sanyo</a></li>
						<li><a href="#!LG">LG</a></li>
					</ul>
				</li>
				<li class="nav-item col-md-2 sanyo-brand menu-mb">
					<a class="nav-link cusor-brand" href="">Products</a>
					<ul class="sub-brands">
						<li><a href="#!SplitAc">SplitAC</a></li>
						<li><a href="#!CabinetAc">CabinetAC</a></li>
						<li><a href="#!CassetteAc">CassetteAC</a></li>
					</ul>
				</li>
				<li class="nav-item col-md-2 menu-mb">
					<a class="nav-link" href="#!Compare">Compare</a>
				</li>
				<li class="nav-item col-md-2 menu-mb">
					<a class="nav-link" href="#!Contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-12 menu-mobile">
	<div class="row close-menu">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="row">
		<div class="col-12 show-menu">
			<ul>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!/" class="show-home">HOME</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!About" class="show-about">ABOUT</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="" class="show-brand">BRANDS</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="" class="show-products">PRODUCTS</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!Compare" class="show-compare">COMPARE</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!Contact" class="show-contact">CONTACT</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-12 menu-brands">
	<div class="row close-menu-brands">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="row">
		<div class="col-12 show-brand">
			<ul>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!Mitsubishi" class="show-mitsubishi">MITSUBISHI</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!Carrier" class="show-carrier">CARRIER</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!Orient" class="show-orient">ORIENT</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!Sanyo" class="show-sanyo">SANYO</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!LG" class="show-lg">LG</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-12 menu-products">
	<div class="row close-menu-products">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="row">
		<div class="col-12 show-products">
			<ul>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!SplitAc" class="show-splitac">SPLITAC</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!CabinetAc" class="show-cabinetac">CABINETAC</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="col-6 menu-right">
							<a href="#!CassetteAc" class="show-cassetteac">CASSETTEAC</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>